
print(type(score))

In [2]:
a="v"
print(type(a))

<class 'str'>

In [3]:
print(id(a))

1838826771824

In [4]:
my_var=10
print(id(my_var))

1838825603600

In [16]:
name="vicky"
age=23
print(23==age)
print(20>age)
print(name=="vicky")
print(len(name))

True
False
True
5

In [8]:
print(5**4) 
print(2+4*2**3)
print((2+4)*2**3)
print(1000==1_0_00)

625
34
48
True

In [27]:
#assingment operetoras 

a=5
a+=2
print(a)

a-=3
print(a)

a*=3
print(a)

a/=2
print(a)

a**=2
print(a)

a+=1
print(a)

a,b=divmod(30,6)
print(a,b)

print(pow(10,3))


print(sum([1,2,3,4,5,6,7,8,9,]))

print(max([1,2,3,4,5,6,7,8,9,]))

print(min([1,2,3,4,5,6,7,8,9,]))

7
4
12
6.0
36.0
37.0
5 0
1000
45
9
1

In [29]:
a=5.45435
print(round(a,5))

5.45435

In [31]:
#identify opraters is and not
a,b=2,2
print(a is b)

True

In [32]:
#immutable int,float,srt,tuple,forenoset
#muttable list,set, dic
print(id(a))

2284519227664

In [33]:
a+=3
print(a)

5

In [35]:
print(id(a))

2284519227760

In [40]:
number=[1,2,3]
print(id(number))
number.append(100)
print(number)
print(id(number))

num=number.copy()
print(num==number)
print(num is number)

2284622424576
[1, 2, 3, 100]
2284622424576
True
False

In [42]:
print(0.125==1/10+2/100+5/1000)

False

In [56]:
print(format(1/3, '.20f'))
print(format(1/10,'.20f'))
print(format(0.1,'.20f'))
print(format(0.126,'.20f'))
print(format(00.0,'.20f'))
print(format(1.0,'.20f'))
print(format(0.1,'.20f'))

0.33333333333333331483
0.10000000000000000555
0.10000000000000000555
0.12600000000000000089
0.00000000000000000000
1.00000000000000000000

In [63]:
from math import isclose

x=0.000000001
y=0.000000002
print(x==y)

print(isclose(x,y, abs_tol=0.01))

False
True

In [64]:
a=99999999.01
b=99999999.02


print(isclose(a,b, rel_tol=0.01))

True

In [65]:
a=3.5
b=4.2
print(a+b)

7.7

In [66]:
print(format(a, '.20f'))
print(format(b, '.20f'))

3.50000000000000000000
4.20000000000000017764

In [74]:
print('hai i"m viknesh')

hai i"m viknesh

# string

In [10]:
# miles=float(input("enter the n number"))
# km=miles*1.609
# print("kilometer",km)

a=10
b=5.2
c="5.3"

print('a',a)
a_float=float(a)
print(type(a_float))

b_type=int(b)
print(type(b_type))

c_type=int(float(c))
print(type(c_type))

a 10
<class 'float'>
<class 'int'>
<class 'int'>

In [14]:
weight =float(input("enter the weight"))
height=float(input("enter the height"))

BMI=weight/height**2

print(format(BMI, '.2f'))

enter the weight2
enter the height3
0.22

In [19]:
movie="The godfather"
print(movie[4])
print(movie[6])
print(movie[-2])

g
d
e

In [21]:
print("python"[2])
print(len("python"))

t
6

In [24]:
s1="i love python programming!"
n=len(s1)
print(s1[n-2])

g

In [26]:
movie="The god father"
director="coppplo"
mv=movie+director
print(mv)
print(movie+"was direcotr by"+director)

The god fathercoppplo
The god fatherwas direcotr bycoppplo

In [31]:
language="python"
version= 3.11
print(language + str(version))

python3.11

In [39]:
print(movie*5)
print("$"*50)
price="10.5"
print(price*5)
print(float(price)*5)

The god fatherThe god fatherThe god fatherThe god fatherThe god father
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
10.510.510.510.510.5
52.5

In [125]:
#slicing
movie="The godfather"
print(movie[0:2])
print(movie[2:5])
print(movie[:5]) 
print(movie[4:]) 
print(movie[-4:-2])
print(movie[:4]+movie[4:])
print(movie[:42])
print(movie[3:100])
print(movie[::])
print(movie[0:13:2])
print(movie[::-1])

Th
e g
The g
godfather
th
The godfather
The godfather
 godfather
The godfather
Tegdahr
rehtafdog ehT

In [131]:
#string formatting

first_name="veech"
last_name="viknesh"
age=23

print('hello '+first_name+''+last_name+' you are '+str(age)+' old')

hello veechviknesh you are 23 old

In [135]:
print(f'hello {first_name} {last_name} you are {str(age)} old')

hello veech viknesh you are 23 old

In [139]:
s=f'{2.3+5*2/2.3:.2f}'
print(s)

6.65

In [142]:
#string methods
print(len("gfidg"))
print(dir(str))
help(str.replace)

5
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

### 29/09/23

In [5]:
#palindrome

String=input("enter the latter")

if(String==String[::-1]):
    print("the letter is palindrome")
else:
    print("the letter is not palindrome")

enter the lattervvrr
the letter is not palindrome

In [13]:
#conditinal statement

balance=150
price=500

if balance>=price:
    new_balance=balance-price
    print(f'you can bookk the car and new  balance {new_balance}')
else:
    print(f'no fund pls deposit {price-balance}')

no fund pls deposit 350

In [19]:
#Nested ifelifelse Statements

answer=input("do you want to continue ? yes or no").lower()
if answer=='yes':
    print('we\'ll move on')
elif answer=='no':
    print('we\' stop')
else:
    print("invalid answer")

do you want to continue ? yes or noYEs
we'll move on

In [22]:
#Boolean Variables

int(False)

int(True)

id(True)

140714046539984

In [29]:
id(4>3)
(4>3)==True
(4>3) is True
False==0
id(0)
id(False)
"4"==4
a=1
b=2
a>b , a<b

False

In [34]:
result="11"
if bool(result):
    print("result is value")
else:
    print("result is not emty")

result is value

In [48]:
age=20
name="vicky"
age>0 and age>18

age>0 and age<28 and name=="vicky"

True

In [49]:
#OR
age,name=23,'veech'
age<3 or name=='veech'

True

In [54]:
age!=23 or name=='veech'

True

In [62]:
import random
animals=['cat','mouse','fish']

choice=random.choice(animals)

if choice=='cat':
    print("Tom")
elif choice=='mouse':
        print("jerry")
else:
    print("Neo")

jerry

In [63]:
#For loops
for i in "vicky":
    print(i)

v
i
c
k
y

In [69]:
for i in "vicky":
    print(i)
    print("bye")
print('######')
for j in {a,2,3}:
    print(j)

v
bye
i
bye
c
bye
k
bye
y
bye
######
1
2
3

In [73]:
my_str=input("Enter samethings")
vowels="aeiou"
for item in my_str:
    if item in vowels:
        print(item,end=" ")

Enter samethingsaeiou
a e i o u

In [84]:
#range
r=range(2,10)
print(type(r))
print(list(r))


r=range(2,10,2)
print(type(r))
print(list(r))

s=sum(range(1,1001))
print(s)

print(list(range(10)))

print(list(range(3,10)))


print(list(range(5,100,5)))

print(list(range(-20,50,10)))

print(list(range(10,-2,-1)))

<class 'range'>
[2, 3, 4, 5, 6, 7, 8, 9]
<class 'range'>
[2, 4, 6, 8]
500500
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
[-20, -10, 0, 10, 20, 30, 40]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1]

In [89]:
s=0

for n in range(101):
    s+=n
print(f'{s}')

5050

In [97]:
for _ in range(10):
    print("something do",_)

something do 0
something do 1
something do 2
something do 3
something do 4
something do 5
something do 6
something do 7
something do 8
something do 9

In [107]:
import random
names=['vikcy','jirac','sathiya','mesh','sabari','paul','rav','gokul','law','kicha']

for i in range(10):
    print('winnner Round',i)
    winner=random.choice(names)
    names.remove(winner)
    print(winner)
    print('#######')

winnner Round 0
kicha
#######
winnner Round 1
gokul
#######
winnner Round 2
law
#######
winnner Round 3
vikcy
#######
winnner Round 4
mesh
#######
winnner Round 5
sabari
#######
winnner Round 6
sathiya
#######
winnner Round 7
paul
#######
winnner Round 8
rav
#######
winnner Round 9
jirac
#######

In [121]:
import random
import string

chars=string.ascii_letters+string.digits+string.punctuation

# print(random.choice(chars))

length=int(input('enter your password'))
password=''

for _ in range(length):
    c=random.choice(chars)
    password += c
    
print(f'enter your password: {password}')

enter your password10
enter your password: 7/)<7%)4AC

In [21]:
#For, continue and pass Statements

for letter in "vi like python in":
    if letter=='i':
        continue
    print(letter, end=" ")

v   l k e   p y t h o n   n

In [22]:
for n in range(10):
    if n%2==0:
        print(f'the even number{n}')
        continue
    print(f'the odd number{n}')

for _ in range(100):
    pass

the even number0
the odd number1
the even number2
the odd number3
the even number4
the odd number5
the even number6
the odd number7
the even number8
the odd number9

In [23]:
for number in range(10):
    print(number)
    if number== 5:
        break
exit()
print("outside loop")

0
1
2
3
4
5
outside loop

In [9]:
for letter in 'python':
    if letter =='o':
        print("breaking out of the loop")
        break
    print(letter)

p
y
t
h
breaking out of the loop

In [2]:
for i in range(1,10):
    if i%12==0:
        print("the this number diviable number in range breaking out")
        break
else:
    print("the this number not diviable number in range")

the this number not diviable number in range

In [8]:
for l in 'abc':
    print(l)
    for n in range(5):
        if n==5:
            break
        print(n)

a
0
1
2
3
4
b
0
1
2
3
4
c
0
1
2
3
4

In [ ]:
my_sum=0
my_product=1

for n in range(1,26):
    my_sum=my_sum+n
    my_product=my_product*n
    
print(my_sum)
print(my_product)

In [ ]:
x=0

while x < 20:
    print("x",x)
    x=x+1